.maindiv {
	text-align: center;

}

video {
	padding: 10px;
}

select {
	background-color: #927352;
	color: white;

}

.requestdiv {
	padding: 10px;

}

#requestbutton {
	text-decoration: none;
	color: white;
	background-color: #927352;
	font-size: 18px; 
	line-height: 25px;
	padding: 12px 25px 12px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 4px 4px 4px #aaa;
}

#requestbutton:hover {
	background-color: #422302
}

@media screen and (max-width: 500px) {

	video {
		height: auto;
		width: 90vw;
	
	}
	
	#requestbutton {
		font-size: 3vw;
	
	}

}
